include *.txt
include *.rst
recursive-include doc *.rst
recursive-include fluidlab *.h
recursive-include fluidlab *.pyx
recursive-include fluidlab *.pxd
recursive-include fluidlab *.c
recursive-include include *.h
